<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BOOTSTRAP -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css' integrity='sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==' crossorigin='anonymous'/>

  <!-- VUE -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js' integrity='sha512-o9SZrtqlGkpa7EF+dDrNjEdRFFYhymlrBzDKpolHNolxsyx0IcXAbEm9i1e8QpoiMgEdKZVtY8XiK1t8i6jVDA==' crossorigin='anonymous'></script>

  <!-- AXIOS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js' integrity='sha512-uplugzeh2/XrRr7RgSloGLHjFV0b4FqUtbT5t9Sa/XcilDr1M3+88u/c+mw6+HepH7M2C5EVmahySsyilVHI/A==' crossorigin='anonymous'></script>

  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

  <!-- CSS -->
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/loader.css">

  <title>php-ajax-dischi</title>
</head>
<body>

  <div id="app">

    <header>
      <div class="logo flex-grow-1 ">
        <img src="./img/logo-small.svg" alt="spotify logo">
      </div>
  
      <select 
        name="genre-select" 
        v-model="selectedGenre"
        @change="getApi()"
      >
  
        <option value="genre=none">Seleziona un genere</option>
  
        <option 
          v-for="genre in genres" 
          :value="`genre=${genre}`"
        >
          {{genre}}
        </option>
  
      </select>
  
      <select 
        name="artist-select" 
        v-model="selectedAuthor" 
        class="mx-3"
        @change="getApi()"
      >
  
        <option value="author=none">Seleziona un'artista</option>
  
        <option 
          v-for="author in authors" 
          :value="`author=${author}`"
        >
          {{author}}
        </option>
  
      </select>
  
    </header>

    <div v-if="!isLoaded">

      <div class="loader-container">
        <h1 class="py-5">
          Il rock non eliminerà i tuoi problemi. Ma ti permetterà di ballarci sopra.
        </h1>
    
        <div class="lds-heart">
          <div>

          </div>
        </div>
      </div>

    </div>
  
    <main class="main-section" v-else>
  
      <div class="container d-flex flex-wrap">

        <div class="text-white" v-show="disks.length === 0">
          <h2>Non sono presenti dischi con questi filtri di ricerca</h2>
        </div>
  
        <div class="mb-card" v-for="disk in disks">

          <div class="thumb">
            <img :src="disk.poster">
          </div>

          <h6 class="my-3">{{disk.title.toUpperCase()}}</h6>
          <p>{{disk.author}}</p>
          <p>{{disk.year}}</p>

        </div>
        
      </div>
  
    </main>
    
  </div>


<script src="js/script.js"></script>

</body>
</html>